### J kono 5ta bug fix korlei 50 marks. Sob gula korleo hobe na korleo hobe

Bugs: 

# 1. Like button not working.
# 2. Post er konay profile photo ta user er hobe. Post er na.
# 3. Image er j caption ache seta jodi 30 er beshi hoy tahole read more a dekhabe. R 30 er kom hole full caption dekhabe. Kintu ekhane 'text' lekha ta dekhacche. Seta thik kore caption ante hbe.
# 4. Comment er moddhe k comment korche r ki comment korche duitai undefined ache. Ai duitai fix korte hobe. 
# 5. Uporer corner a j "eye" icon ta ache ota te click korle report kora "warning sign die report korte hoy" post gula dekhanor kotha. Kintu sekhane sob post dekhacche. Eta fix korte hobe.
# 6. Like dewar por uporer corner er like icon a click korle sudhu like kora post gula dekhanor kotha. Kintu home a click kore ghure ashle ager like  kora gulao add kore dekhacche. Ager gula remove kore sudhu last gula dekhate hbe.


Bonus: 
 
 1. Minimum 6ta git commit kortei hobe.

 2. Website er akdm seshe akta new section banate hobe. Sekhane h2/h3 die 2ta qus er ans likhte hbe. 3ta qus dewa thakbe er moddhe j kono 2ta likhlei hobe. Proti ta ans minimum 5 line hote hobe. Max 10 line. Er beshi howa jabena.
 
Qus 1: Javascript kivabe kaj kore?
Qus 2: Javascript event loop ki  kaj kore?
Qus 3: Local storage ebong session storage moddhe parthokko ki ki?


************* Ja ja submit korte hobe********************

1. Git repo link: https://github.com/Programming-Hero-Web-Course4/insta-shohor-mushfiq5900

2. Netlify Link: 